<div>
  <div class="position-relative header-content w-100">

    <!-- Banner section: not using absolute positioning for the banner itself -->
    <div class="banner mb-2 w-100 h-100 overflow-hidden ">

      <!-- Semi-transparent background image layer positioned absolutely -->
      <div class="banner-bg position-absolute top-0 start-0 w-100 h-100"></div>

      <!-- Banner text/content positioned relatively to stay above background -->
      <div class="banner-content overflow-hidden h-100 d-flex justify-content-center align-items-center">
        @if (media&& type) {
          <div class="text-center">
            <p appAnimateOnScroll="slideDown" class="main-section-title">{{media|uppercase}}</p>
            <p appAnimateOnScroll="slideUp"
              class="path"><i class="fa-solid fa-house"></i> HOME / {{type}} {{media}}</p>
            </div>
          }
          @if (page) {
            <div class="text-center">
              <p appAnimateOnScroll="slideDown"
              class="main-section-title">{{page|uppercase}}</p>
              <p appAnimateOnScroll="slideUp" class="path"><i class="fa-solid fa-house"></i> HOME / {{page}}</p>
              </div>
            }
          </div>

        </div>

      </div>
    </div>

