.header-content{
    background-image: url(../../assets/images/header-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 12px;
}
.header-content button{
    transform: scale(0.4);
    opacity: 0;
    animation-delay: 1s;
}
.header-title{
    font-weight: 700;
    font-size: 2.7rem;
}
.banner {
  border-radius: 12px;
  padding: 2rem;
  color: white;
  position: relative;
  z-index: 1;
}

.banner-bg {
background: linear-gradient(134deg,var(--blue-color) 50%, var(--main-color)  90%);
  opacity: 0.8; 
  z-index: 0;
}

.banner-content {
  position: relative;
  z-index: 1;
}
