/* Header section with background image */
.header-content {
  background-image: url(../../assets/images/header-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 12px;
  height: 30%; /* Rounded corners for a softer look */
}

/* Buttons inside the header: initially scaled down and hidden */
.header-content button {
  transform: scale(0.4);  /* Make the button smaller at first */
  opacity: 0;             /* Hide the button before animation */
  animation-delay: 1s;    /* Delay the animation to appear later */
}
.header-img{
  width: 200px;
  height: 200px;
  border-radius:12px;
   object-fit: cover;
}