<!-- Navbar container with animation on visibility and scroll styling -->
<div [@slideDown]="overviewVisible?'visible':'void'" 
         appAnimateOnVisible (visible)="overviewVisible=true"
     [ngClass]="{ 'scrolled': isScrolled }"
     class="navigation-bar px-3 py-2">

  <div class="">
    <!-- Navbar layout container -->
    <div id="navigation-bar-links">
      
      <!-- Logo with routing to home page -->
      <div routerLink="home-page" class="logo">
        <i class="fa-solid fa-clapperboard"></i>
        <span class="px-1">Media</span>
      </div>

      <!-- Show search input only if showSearch is true -->
        <div [ngStyle]="{display:(showSearch)?'block':'none'}" class="input-search">
          <div class="position-relative search-box">
            <input type="text" class="w-100" placeholder="Search Your Videos"
            (input)="onSearchInput($event)">
            <div *ngIf="searchResults.length > 0" class="search-result-item w-100 p-4 
              rounded-4 position-absolute top-100 start-0">
              @for(item of searchResults;track item.id){
                <div (click)="goToMediaDetails(item.media_type,item.id)" *ngIf="item.poster_path|| item.profile_path" class="bg-black my-2 rounded-4">
                    <img *ngIf="item.poster_path" class="rounded-4" width="200" height="100"
                         [src]="'https://image.tmdb.org/t/p/w500' + item.poster_path" 
                         alt="{{item.title || item.name}}" />
                    <img *ngIf="item.profile_path" class="rounded-4" width="200" height="100"
                         [src]="'https://image.tmdb.org/t/p/w500' + item.profile_path" 
                         alt="{{item.title || item.name}}" />     
                    <span class="p-3">{{item.title || item.name}}</span>
                </div>
              }

            </div>
            <!-- Icon inside the search box -->
            <div class="position-absolute top-0 end-0 py-2 px-3">
              <i class="fa-solid fa-magnifying-glass"></i>
            </div>
          </div>
        </div>

      <!-- Buttons section in the navbar -->
      <div class="navbar-button d-flex align-items-center gap-3">
        <!-- Search button triggers toggleSearch() -->
        <button #searchBtn (click)="toggleSearch()" class="button-search btn btn-dark">
          <i class="fa-solid fa-magnifying-glass"></i> 
          <span class="responsive-icon"> Search</span>
        </button>

        <!-- Notification button -->
        <button class="btn btn-dark">
          <i class="fa-solid fa-bell"></i>
        </button>

        <!-- Upload button -->
        <button class="btn btn-dark upload-button">
          <i class="fa-solid fa-circle-arrow-up"></i> Upload
        </button>

        <!-- Profile button -->
        <button class="btn btn-dark button-mix-color">
          <i class="fa-solid fa-user responsive-icon"></i> Profile
        </button>

        <!-- Sidebar toggle button -->
        <button (click)="onButtonOpenSideBar()" #sidebarToggleBtn class="btn btn-dark button-list-side-bar">
          <i class="fa-solid fa-bars"></i>
        </button>
      </div>

    </div>
  </div>
</div>
