<!-- Navbar container with slide-down animation when visible and class toggle on scroll -->
<div [appAnimateOnVisible]="'animate-slide-down'"
     [ngClass]="{ 'scrolled': isScrolled }"
     class="navigation-bar px-3 py-2">
     
  <div class="">
    
    <!-- Top navigation bar layout -->
    <div id="navigation-bar-links">
        <div routerLink="home-page" class="logo">
         <i class="fa-solid fa-clapperboard"></i>
        <span class="px-1">Tube</span>
    </div>
      <!-- Search box area (takes 50% width) -->
      <div class="input-search position-relative">
        <input type="text" class="search-box w-100" placeholder="Search Your Videos">
        
        <!-- Search icon positioned inside the input box -->
        <div class="position-absolute top-0 end-0 py-2 px-3">
          <i class="fa-solid fa-magnifying-glass"></i>
        </div>
      </div>

      <!-- Navbar buttons section: notification, upload, profile -->
      <div class="navbar-button d-flex align-items-center gap-3">
        <button  class="button-search btn btn-dark">
          <i class="fa-solid fa-magnifying-glass"></i> 
          <span class="responsive-icon">Search</span>
        </button>
        <button class="btn btn-dark">
          <i class="fa-solid fa-bell"></i>
        </button>
        <!-- Notification button -->

        <!-- Upload button with icon -->
        <button class="btn btn-dark upload-button">
          <i class="fa-solid fa-circle-arrow-up"></i> Upload
        </button>

        <!-- Profile button with custom mix color -->
        <button class="btn btn-dark button-mix-color">
          <i class="fa-solid fa-user responsive-icon"></i> Profile
        </button>
        <button class="btn btn-dark button-list-side-bar">
          <i class="fa-solid fa-bars"></i>
        </button>
      </div>
    </div>

  </div>
</div>
