<section>
    <div class="section-container w-100 d-flex mt-5 rounded-4 position-relative overflow-hidden">
        <div class="container-img">
            <img src="assets/images/sub-banner-img.png" class="w-100 h-100" alt="kids-images">
        </div>
        <div class="container-content px-lg-3 px-1 pt-2">
            <h2 [appAnimateOnVisible]="'animate-slide-down'" class="main-section-title fw-bolder ">
          Kids Zone With Special Security
        </h2>
        <p [appAnimateOnVisible]="'animate-slide-up'" class="py-2">ScreenPal's intuitive tools help you capture, create, and share videos and images
             for authentic and effective visual communication.
        </p>
         <div class="d-flex gap-md-3 gap-1 py-2 px-md-5">
          <button [appAnimateOnVisible]="'animate-zoom-in'" class="see-latest-movies border-white fw-bolder rounded-4 p-md-3 py-1">
            <i class="fa-solid fa-play"></i> See latest movies
          </button>
          <button [appAnimateOnVisible]="'animate-zoom-in'" class="btn-light  border-white fw-bolder rounded-4 p-md-3 py-1 text-white">
            <i class="fa-brands fa-google-play"></i> Download Our App
          </button>
        </div>
        </div>
    </div>
</section>
