<div class="app-layout">
  <!-- General container for the layout -->
  <div class="side-content" [class.move-left]="moveLeft">
    <!-- Fixed sidebar component on the left -->
    <app-side-bar (linkClicked)="onToggleSideBar()"></app-side-bar>
  </div>

  <div class="content-page">
    <!-- Fixed navbar component at the top of the main content area -->
    <app-navbar (toggleContentLeft)="onToggleSideBar()"></app-navbar>

    <div class="page-body pt-5 mt-5 px-3">
      <!-- Dynamic content loaded by Angular Router -->
      <router-outlet></router-outlet>
      
      <!-- Footer component below the page content -->
      <app-footer></app-footer>
    </div>
  </div>
</div>
