<div class="d-flex justify-content-between pt-5 overflow-hidden">
  <h3 appAnimateOnScroll="slideDown"><i class="fa-solid fa-play"></i> {{ title }}</h3>
  <button (click)="goToMediaCollection(mediaType,category)" 
   class="text-white p-2">View all</button>
</div>

<!-- swiper container with ViewChild ref -->
<div class="swiper position-relative" #swiperContainer>
  <div class="swiper-navigation">
    <button class="swiper-button-prev custom-prev">

    </button>
    <button class="swiper-button-next custom-next">
    </button>
  </div>
  <div class="swiper-wrapper">
    @for (movie of movies; track trackMedia($index, movie); let i = $index) {
      @if (movie.profile_path || movie.poster_path) {
        <div
          (click)="goToMediaDetails(mediaType=='trending'?movie.media_type:mediaType ,movie.id)"
          class="swiper-slide slider-container rounded-3">
          <div class="position-relative">
            @if (movie.profile_path) {
              <img 
                [src]="'https://image.tmdb.org/t/p/w500' + movie.profile_path" class="rounded-3" alt="Person Image" />
              }
              @if (movie.poster_path) {
                <img 
                  [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" class="rounded-3" alt="Movie Poster" />
                }
                @if (movie.vote_average) {
                  <button class="vote p-1 rounded-3 border-0 fw-bolder text-white position-absolute top-0 end-0">
                    {{ movie.vote_average }}
                  </button>
                }
              </div>
              @if (movie.name) {
                <p>{{ movie.name | seeMore:2 }}</p>
              }
              @if (movie.title) {
                <p>{{ movie.title | seeMore:2 }}</p>
              }
              @if (movie.release_date) {
                <p><span class="date-media"><i class="fa-solid fa-clock"></i> {{ movie.release_date|timeAgo}}</span></p>
              }
              @if (movie.first_air_date) {
                <p><span class="date-media"><i class="fa-solid fa-clock"></i> {{ movie.first_air_date|timeAgo}}</span></p>
              }
              @if (movie.popularity && mediaType=='person') {
                <p>popularity : <span class="date-media popularity">{{ movie.popularity}}</span></p>
              }
            </div>
          }
        }
      </div>
    </div>
